.App {
  text-align: center;
}

.header {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  margin: 8px;
  padding: 10px 15px;
  border-radius: 10px;

}

.exercise-button {
  background-color: rgb(59, 137, 232);
  color: black;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  margin: 13px;
  border-radius: 10px;
}


.exercise-button:hover {
  background-color: #5b5bdc;
}

.button-container {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}